$left-width: calc(59% - 5px);
$right-width: calc(41% - 5px);
$vertical-seperation-point: 180px;

.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
  width: calc(100vw - 92px);
  margin: 0 rem(46px);

  &__animated-text {

    &--left {
      margin-right: 10px;
      // width: $left-width;

      img {
        object-position: right;
      }
    }

    &--right {
      // width: $right-width;

      img {
        object-position: left;
      }
    }

    position: relative;

    img {
      position: relative;
      height: 100vh;
      object-fit: contain;
      // width: 100%;
    }
  }

  &__signature {
    content: url("../images/signature.svg");
    display: block;
    width: rem(300px);
    background-image: center;
    background-repeat: no-repeat;
    background-size: contain;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  &__loading-screen {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: $black;

    small {
      position: absolute;
      bottom: 40px;
      left: 50%;
      transform: translateX(-50%);
      animation: fadeOut 0.2s ease-in-out infinite;
    }
  }

  &__title {
    position: absolute;
    top: 0;
    left: 0;
    margin: 48px 20px;
    width: 100%;
    opacity: 0;

    h1 {
      margin: 0;
      font-size: rem(10px);
      line-height: rem(13px);
      letter-spacing: 0.15em;
      font-weight: bold;
      position: absolute;
      top: 0;
      transform-style: preserve-3d;

      &:first-of-type {
        color: $grey;
        top: 8px;
      }

      &:last-of-type {
        transform: rotateX(-90deg);
      }
    }

  }

  &__content {

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 0 27%;

    height: calc(100% - #{$vertical-seperation-point});
    opacity: 0;
    transform: translateY(10px);

  }
}