$left-width: 53%;
$right-width: 46.5%;
$vertical-seperation-point: 180px;

.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
  margin: 0 rem(10px);

  margin-bottom: calc(100vh - #{$vertical-seperation-point});

  &__animated-text {
    position: relative;

    &--left {
      margin-right: 10px;
      width: $left-width;

      img {
        object-position: right center;
      }
    }

    &--right {
      width: $right-width;

      img {
        object-position: left center;
      }
    }

    img {
      position: absolute;
      max-height: 100%;
      object-fit: contain;
      width: 100%;
    }
  }

  &__signature {
    content: url("../images/signature.svg");
    display: block;
    width: rem(300px);
    background-image: center;
    background-repeat: no-repeat;
    background-size: contain;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  &__loading-screen {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: $black;

    small {
      position: absolute;
      bottom: 40px;
      left: 50%;
      transform: translateX(-50%);
      animation: fadeOut 0.2s ease-in-out infinite;
    }
  }

  &__title {
    position: absolute;
    top: 0;
    left: 0;
    margin: 48px 20px;
    width: 100%;
    opacity: 0;

    h1 {
      margin: 0;
      font-size: rem(10px);
      line-height: rem(13px);
      letter-spacing: 0.15em;
      font-weight: bold;
      position: absolute;
      top: 0;
      transform-style: preserve-3d;

      &:first-of-type {
        color: $grey;
        top: 8px;
      }

      &:last-of-type {
        transform: rotateX(-90deg);
      }
    }
  }

  &__content {
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: baseline;

    height: calc(100% - #{$vertical-seperation-point});
    opacity: 0;
    transform: translateY(10px);

    @media (min-width: $medium) {
      justify-content: center;
    }

    p {
      padding: 10px;

      @media (min-width: $medium) {
        padding: 0;
        max-width: 60%;
        margin: auto;
      }
    }
  }
}
